<extend name="Public/common"/>
<block name="subnav">
<div class="tour_div tabs"> 
	<div class="tour_title tc0">
		 
			<a class="<if condition="ACTION_NAME eq 'index'">active<else /> </if>"  href="<{:U('index')}>">总人气</a> 
			<a class="<if condition="ACTION_NAME eq 'hot'">active<else /> </if>"  href="<{:U('hot')}>">总推荐</a> 
			<a class="<if condition="ACTION_NAME eq 'down'">active<else /> </if>"  href="<{:U('down')}>">总下载</a> 
			<a class="<if condition="ACTION_NAME eq 'fav'">active<else /> </if>"  href="<{:U('fav')}>">总收藏</a> 
		 
	</div>

</div>	
</block>
<block name="content">
<div class="tour_div ">
	<ul class="song_con">
		<JY:songs result="v" limit="15" order="$order" >
		<li>
			<span class="numb"></span>
			<a class="sname text-ellipsis" title="<{$v['name']}>" href="<{$v['url']}>"><{$v['name']}></a>
			<a class="gname text-ellipsis" title="<{$v['name']}>" href="<{$v['artist_url']}>"><{$v['artist_name']}></a>
			<a class="play" title="播放小<{$v['name']}>" href="<{$v['url']}>"></a>		
		</li>
		</JY:songs>	
		<div id="more" class="more clearfix" style="margin-top:20px;" url="<{:U('getlist')}>" limit="15" order="<{$order}>">点击查看更多</div>			
	</ul>				
</div>
</block>