<extend name="Public/common"/>
<block name="content">

<div class="page_content_offset">
	<div class="container">	
	<div class="row clearfix">
			<!--搜索列表-->			
			<section class="col-sm-10 col-sm-offset-1">
				<div class="clearfix">
					<h3 class="f_left pt_10"> 匹配[ <{$k}> ]</span>的讲员</h3> 
				</div>
				<hr>
				<div class="tab-content mt_20">						
					<div class="tab-pane fade in active">
					<present name="list_artists">
						<nav class="mb_0">
							<ul class="horizontal_list clearfix  t_align_c">
								<volist name="list_artists" id="vo">
								<li class="mr_15 mb_15">
									<a class="d_block photoframe tr_all_hover shadow" href="<{$vo['url']}>">
										<span class="d_block wrapper">
											<img alt="<{$vo.name}>" src="<{$vo['cover_url']}>" height="138" width="138" class="tr_all_long_hover">
										</span><br>
										<{$vo.name}>
									</a>
								</li>
								</volist>
							</ul>
						</nav>	

						<hr class="mb_10 "> 
						<else />
							没有找到相关的讲员						 
					</present> 
					</div>
				</div>
			</section>
		</div>
		<div class="row clearfix">
			<!--搜索列表-->			
			<section class="col-sm-10 col-sm-offset-1">
				<div class="clearfix">
					<h3 class="f_left pt_10"> 匹配[ <{$k}> ]</span>的讲道专辑</h3> 
				</div>
				<hr>
				<div class="tab-content">							
					<div class="tab-pane fade in active">
					<present name="list_albums">
						<nav class="mb_0">
							<ul class="horizontal_list clearfix  t_align_c">
								<volist name="list_albums" id="vo">
								<li class="mr_15 mb_15">
									<a class="d_block photoframe tr_all_hover shadow" title="<{$vo['name']}>" href="<{$vo['url']}>">
										<span class="d_block wrapper">
											<img alt="<{$vo['name']}>" src="<{$vo['cover_url']}>" height="138" width="138" class="tr_all_long_hover">
										</span><br>
										<{$vo['name']}><p>
									</a>
								</li>
								</volist>
							</ul>
						</nav>	

						<hr class="mb_10 "> 
						<else />
							没有找到相关的专辑					 
					</present> 
					</div>
				</div>
			</section>
		</div>
		<div class="row clearfix">
			<!--搜索列表-->			
			<section class="col-sm-10 col-sm-offset-1">
				<div class="clearfix">
					<h3 class="f_left pt_10"> 匹配[ <{$k}> ]</span>的相关音频</h3> 
				</div>
				<hr>
				<div class="tab-content mt_20">							
					<div class="tab-pane fade in active">
					<present name="list_songs">
						<volist name="list_songs" id="v">
						<div class="mb_10 clearfix relative play_box">
							<div class="row clearfix song_list">								
								<span class="col-sm-5 col-xs-8">	
									<span class="ls_num <lt name="i" value="4">ls_num_top</lt>"><{$i}></span>									
									<a class="text-ellipsis" target="_play" href="<{$v['url']}>"><{$v['name']}></a>									
								</span>
								<span class="col-sm-3 col-xs-2 p_hr_0">
									<a class="text-ellipsis singer" target="_sing" href="<{$v['artist_url']}>"><{$v['artist_name']}></a>	
								</span>
								<span class="col-sm-2 hidden-xs singer"><a href="<{$v['genre_url']}>"><{$v['genre_name']}></a></span>
								<span class="col-sm-2 col-xs-2 ls_btns">	
									<a class="hidden-xs" target="_down" href="<{$v['down_url']}>"><i class="jy jy-cloud-down-f"></i></a>								
									<a <if condition="is_fav($v['id'],1)">class="on"</if> data-id="<{$v['id']}>" data-action="fav" href="javascript:;"><i class="jy jy-like"></i></a>
									<a class="jp-play-me " data-id="<{$v['id']}>" href="javascript:;"><i class="jy jy-play"></i>							</a>
								</span>
							</div>
							<hr class="l_hr">
						</div>
						</volist> 
					<else />
						没有找到相关的音频						 
					</present> 
					</div>
				</div>
			</section>
			<!--侧边栏-->
		</div>
	</div>
</div>
</block>
<block name="player"><include file="Player/default"/></block> 